.form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
}

.form > input {
  background-color: transparent;
  outline:0px none;
  border: none;
  border-bottom: solid 2px;
  border-bottom-color: green;
  padding-bottom: 5px;
  font-family: cursive;
}

.container{
  margin-top: 10%;
  margin-left: 10%;
}

.form > span{
  font-family: cursive;
  font-size: 2rem;
  padding: 0.2em;
}

button{
  background-color: white;
  border: none;
  border: solid 1px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button:hover{
  background-color: green;
  
}

.props{
  margin-left: 1.5%;
  font-family:cursive;
  font-size: 1rem;
  margin-top: 8px;
}